:root {
  --home-bg-color: black;
  --login-bg-color: #ffffff;
  --sidebar-text-color: #a6a6a6;
  --footer-bg-color: #282828;
  --footer-player-text-color: #b3b3b3;
  --artist-section-bg-color: #121212;
  --artist-album-card-bg-color: #262626;
  --spotify-color: #1db954;
}
